.login-space {
  label,
  a {
    color: rgb(226, 226, 226);
  }
  .btn-primary {
    border-color: #355f77;
    background-color: #355f77;
  }

  .wrong-input {
    border: rgb(197, 0, 0) solid 2px;
  }
}
