.navbar {
  background-color: #b89936;
  z-index: 100;

  .navbar-brand {
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;
    color: rgb(226, 226, 226);

    @media screen and (max-width: 500px) {
      h2 {
        display: none;
      }
    }

    img {
      margin-right: 0.5rem;
    }

    &:hover {
      color: white;
    }
  }

  .navbar-collapse {
    .nav-link {
      color: rgb(226, 226, 226);

      &:hover {
        color: white;
      }
    }
  }
}
