.menu-pizza {
  background-color: rgba(218, 195, 141, 0.609);
  max-height: 25rem;
  border-radius: 25px;

  margin-bottom: 1rem;

  p {
    font-size: 0.7rem;
    margin-bottom: 0;
  }

  .row {
    position: relative;
    margin: 0;
    //height: 100%;

    img {
      margin: 1rem 0;
      width: 100%;

      border-radius: 25px;
    }

    .pointer {
      position: absolute;
      top: 1px;
      right: 0;

      //display: none;

      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;

      border-right: 12px solid rgb(231, 24, 24);

      //background-color: pink;
    }
  }
}

.hidden {
  display: none;
}
