.cart-space {
  position: fixed;
  right: 0;

  width: 25%;
  height: 60%;

  z-index: 10;

  transition: transform 0.5s ease;
  transform: translateY(-90%);

  .cart-button {
    background-color: rgb(204, 183, 133);
    position: absolute;
    bottom: 0;
    left: 27%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 46%;
    height: 10%;

    border-radius: 0 0 20px 20px;
    border: rgb(136, 121, 87) solid 1px;
    border-top: none;

    z-index: 11;

    cursor: pointer;

    svg {
      width: 30%;
      height: 80%;

      path {
        width: 100%;
      }
    }
  }

  .cart-panel {
    position: absolute;

    background-color: rgb(218, 195, 141);
    width: 100%;
    height: calc(90% + 1px);

    border-radius: 0 0 0 20px;
    border: rgb(136, 121, 87) solid 1px;
    border-top: none;
  }
}

.cart-active {
  transform: translateY(0);
}
